<footer class="pt-3 pb-3 bg-secondary text-white col-12">
    <div class="text-center">
        <h3 class="">Visite-nos!</h3>
        <h6>Rua Alastor Moody, nยบ 9 3/4, Viela do Dobby, Beco Diagonal.</h6>
    </div>
</footer>