<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="./css/style.css">

  </head>
  <body>
    {{> header}}


    <section id="notifications" class="toast-container position-absolute start-50 translate-middle-x">
      {{#if success}}
        {{> notification isSucess=true title="Sucesso!" message=success}}
      {{/if}}
      {{#if error}}
        {{> notification isSucess=false title="Erro!" message=error}}
      {{/if}}
    </section>

    <main>
      {{{body}}}
    </main>
   
  </body>
</html>
